/* 기본 설정 */
:root{
    --back-color: hsl(216, 100%, 80%);
    --main-textcolor: hsl(0, 0%, 11%);
}

/* 기본 바디 설정 */
body{
    background: var(--back-color);
    background-image: url('images/garbage.png');
    background-position: 90% 5rem;
    background-repeat: no-repeat;
}

/* 기본 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 플라스틱 설명, 이미지 */
.boons{
    display: flex;
}

.logo-img{
    width: 7rem;
    height: 8rem;
    margin-top: 4rem;
    margin-left: 2rem;
}

.boons{
    margin-left: 15%;
    margin-top: 5rem;
}
.boons h2{
    color: var(--main-textcolor);
    text-shadow: 2px 2px 7px rgba(0,0,0,.3);
    font-size: 9rem;
    font-style: italic;
    font-weight: 100;

}

/* 방법을 알려드릴게요! */
.ex-p{
    margin-top: .2rem;
    margin-left: 10%;
}

.ex-p p{
    color: var(--main-textcolor);
    margin-top: 2rem;
    background-color: #fff;
    border:1px solid #fff; 
    width: 28.6rem;
    border-radius: 3rem; 
    padding: 0.5rem;
    align-items: center;
    margin-left: 5rem;
    font-size: 1.07rem;
    font-weight: bold;
    font-style: italic;
}

/* header */
header {
    background-color: hsl(216, 100%, 68%);
}
  
nav {
  height: 3rem;
  display: flex; /* 기본값: 수평 방향 */
  justify-content: center; /* 양쪽정렬 */
  align-items: center; /* 교차축 가운데 */
}
  
nav i {
  color: #fff;
  font-size: 1.5rem; /* 아이콘 좀 크게 */
}

/* swipe */
.swiper-container {
    height:300px;
    border-radius:7px;
    margin-top: auto;
    margin-bottom: 0;
 }
 .swiper-slide {
    text-align: center;
    display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
 }
 .swiper-slide img {
    box-shadow:0 0 5px #555;
    max-width: 80%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
    /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
 }